<section id="banner">
	<div class="grid-container message">
		<div class="grid-block align-center">
			<div class="grid-block shrink">
				<h1>SEO & Website Development.</h1>
			</div>
		</div>
	</div>
	<div class="grid-container message">
		<div class="grid-block align-center">
			<div class="grid-block shrink large-4">
				<ul>
					<li><img zf-iconic="" icon="circle-check" size="small">  HTML5</li>
					<li><img zf-iconic="" icon="circle-check" size="small">  CSS</li>
					<li><img zf-iconic="" icon="circle-check" size="small">  Sass/LESS</li>
					<li><img zf-iconic="" icon="circle-check" size="small">  Twitter Bootstrap</li>
					<li><img zf-iconic="" icon="circle-check" size="small">  Zurb Foundation</li>
				</ul>
			</div>
			<div class="grid-block shrink large-4">
				<ul>
					<li><img zf-iconic="" icon="circle-check" size="small">   JavaScript</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   jQuery</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   AngularJS</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   PHP</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   Laravel</li>
				</ul>
			</div>
			<div class="grid-block shrink large-4">
				<ul>
					<li><img zf-iconic="" icon="circle-check" size="small">   Github</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   Coda</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   MAMP</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   Terminal</li>
					<li><img zf-iconic="" icon="circle-check" size="small">   WordPress</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="box-pop-container">
	<div class="grid-container">
		<div class="bottom-nav">
		<div class="box-pop box-0">
			<div class="item grid-content">
				<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> The Market Navigator</h5>
				<span>http://themarketnavigator.com</span>
				</div>
				<div class="item_description">
					<p>The Market Navigator is a subscription based website built out in a Laravel based content management system call OctoberCMS.
						<ul>
							<li>Paypal IPN subscription integration</li>
							<li>HTML5 charts/JSON integration</li>
							<li>User based system</li>
							<li>Twitter Bootstrap</li>
						</ul>
						<p><a class="button" href="">Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="box-pop box-1">
			<div class="item grid-content">
				<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> Northern TV & Vacuum</h5>
				<span>http://northerntv.net</span>
				</div>
				<div class="item_description">
					<p>NorthernTV.net is a AngularJS website that is built out with foundation for apps. It uses prerender to cache all of it's pages, giving the AngularJS app the ability to be crawled by Google.</p>
					<ul>
						<li>Won website bid</li>
						<li>Developed responsive website</li>
						<li>Worked with client on web content</li>
						<li>SEO work integrated with AngularJS</li>
					</ul>
						<p><a class="button" href="">Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="box-pop box-2">
			<div class="item grid-content">
				<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> Michigan Consumer Credit Lawyers</h5>
				<span>http://micreditlawyer.com</span>
				</div>
				<div class="item_description">
					<p>This is an SEO case study that has been improving since 2012. The website has done so well, we built out another website targeting the state of Arizona.
						<ul>
							<li>Ranks #1 for "Credit Lawyer"</li>
							<li>Expanded services to Arizona (new website)</li>
							<li>Pay Per Click Management</li>
						</ul>
						<p><a class="button" href="">Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="box-pop box-3">
			<div class="item grid-content">
<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> Pro Tools Tutorial</h5>
				<span>http://protoolstutorial.org</span>
				</div>
				<div class="item_description">
					<p>This is a website built with affiliate marketing in mind. It gets over 8K visitors each month and I worked with a producer to create stellar HTML5 tutorial videos.</p>
					<ul>
						<li>Built in 2011 (first webste)</li>
						<li>Ranks #1 for "Pro Tools Tutorial"</li>
						<li>Hosts 30+ HTML5 Videos</li>
						<li>Gets over 8,500 visitors/month</li>
						<li>Maintain blog/content creation</li>
					</ul>
						<p><a class="button" xhref="">Read More</a>
					</p>
				</div>			</div>
		</div>
		</div>
	</div>
	</div>
</section>
<section id="main-body">
<div class="grid-container">
	
	
  	  
	  
</div>
</section>