<section id="banner">
	<div class="grid-container message">
		<div class="grid-block align-center">
			<div class="grid-block shrink">
				<h1>I am An AdWords Expert.</h1>
			</div>
		</div>
	</div>
	<div class="grid-container message">
		<div class="grid-block align-center">
			<div class="grid-block  large-6">
			<p>I have been AdWords Certified since 2012 and have certified each Agency I have worked for as a Google certified partner. Whether you are managing $10 a day or $1,000,000.00 a year, I am the AdWords expert you need.</p>
			</div>
		</div>
	</div>
	<div id="box-pop-container">
	<div class="grid-container">
		<div class="bottom-nav">
		<div class="box-pop box-0">
			<div class="item grid-content">
				<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> The Right Keywords</h5>
				</div>
				<div class="item_description">
					<p>The way I approach AdWords is simple - let the system do the work for me. I set up enticing ads, with the right keywords, and split up the ad groups appropriately. I make sure people Googling keywords that are unique to your business end up on the right landing page.
						<ul>
							<li>AdGroups</li>
							<li>Text Ads</li>
							<li>Geo-fencing</li>
							<li>Bidding strategy</li>
						</ul>
						<p><a class="button" href="">Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="box-pop box-1">
			<div class="item grid-content">
				<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> Display & Media Buying</h5>
				</div>
				<div class="item_description">
					<p>Did you know that you could put your ad on websites like Freep.com, TheKnot.com, The New York Times, and many others for a fraction of the price? Learn how with the Google Display Network.</p>
					<ul>
						<li>Choose Websites</li>
						<li>Ad Design</li>
						<li>Bidding Strategy</li>
						<li>Contextual & Category Targeting</li>
					</ul>
						<p><a class="button" href="">Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="box-pop box-2">
			<div class="item grid-content">
				<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> YouTube Video Pre-Roll</h5>
				</div>
				<div class="item_description">
					<p>I work closely with professional videographers. Many of our websites host large background HTML5 videos. We can use this type of video for YouTube video Pre-rolling.
						<ul>
							<li>Cost per impression</li>
							<li>Choose Video Categories</li>
							<li>Create Campaign</li>
						</ul>
						<p><a class="button" href="">Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="box-pop box-3">
			<div class="item grid-content">
<div class="item_title">
				<h5><img zf-iconic="" icon="Document" size="small"> Bing Ads</h5>
				</div>
				<div class="item_description">
					<p>Did you know that Bing Ads can be extremely effective? Many times, people look right past Bing when it comes to advertising. My experience tells me that that is a mistake!</p>
					<ul>
						<li>High Conversion rates</li>
						<li>Low Cost per clicks</li>
						<li>Integrate with Google Analytics</li>
						<li>Campaign setup</li>
					</ul>
						<p><a class="button" xhref="">Read More</a>
					</p>
				</div>			</div>
		</div>
		</div>
	</div>
	</div>
</section>
<section id="main-body">
<div class="grid-container">
	<div class="grid-block">
		<div class="grid-block large-8">
			<section id="content" class="grid-content">
			<h1>AdWords</h1>
			<p>
				"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
			</section>
		</div>
		<div class="grid-block large-4">
			<section id="right-block" class="grid-content">
				<h3>Services</h3>
							<a class="right-link" ui-sref="Transporting Your TV" href="/transporting-your-tv">
								<div class="right-block">
									<div class="block_overlay">
										<div class="right-link-container">
											<div class="home-arrow">
												<p>Go <img zf-iconic="" icon="Chevron" size="small"></p>
											</div><!-- / home-arrow-->
											<div class="viewing">
												<h5 class="ng-binding"><span class="viewing ng-binding"></span><br>Link Building</h1>
											</div><!--/ viewing-->
										</div><!--/ right-link-container-->
									</div><!-- / block_overlay -->
								</div><!-- / right-block -->
							</a>
							<a class="right-link" ui-sref="Transporting Your TV" href="/transporting-your-tv">
								<div class="right-block">
									<div class="block_overlay">
										<div class="right-link-container">
											<div class="home-arrow">
												<p>Go <img zf-iconic="" icon="Chevron" size="small"></p>
											</div><!-- / home-arrow-->
											<div class="viewing">
												<h5 class="ng-binding"><span class="viewing ng-binding"></span><br>Pay Per Click Advertising</h1>
											</div><!--/ viewing-->
										</div><!--/ right-link-container-->
									</div><!-- / block_overlay -->
								</div><!-- / right-block -->
							</a>
							<a class="right-link" ui-sref="Transporting Your TV" href="/transporting-your-tv">
								<div class="right-block">
									<div class="block_overlay">
										<div class="right-link-container">
											<div class="home-arrow">
												<p>Go <img zf-iconic="" icon="Chevron" size="small"></p>
											</div><!-- / home-arrow-->
											<div class="viewing">
												<h5 class="ng-binding"><span class="viewing ng-binding"></span><br>Web Development</h1>
											</div><!--/ viewing-->
										</div><!--/ right-link-container-->
									</div><!-- / block_overlay -->
								</div><!-- / right-block -->
							</a>
							<a class="right-link" ui-sref="Transporting Your TV" href="/transporting-your-tv">
								<div class="right-block">
									<div class="block_overlay">
										<div class="right-link-container">
											<div class="home-arrow">
												<p>Go <img zf-iconic="" icon="Chevron" size="small"></p>
											</div><!-- / home-arrow-->
											<div class="viewing">
												<h5 class="ng-binding"><span class="viewing ng-binding"></span><br>API integrations</h1>
											</div><!--/ viewing-->
										</div><!--/ right-link-container-->
									</div><!-- / block_overlay -->
								</div><!-- / right-block -->
							</a>
			</section>
		</div>
	</div>
	
  	  
	  
</div>
</section>